---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout title="Aviso Privacidad">
    <Navbar />
    <br><br><br>
    <main class="max-w-4xl mx-auto py-20 px-6 text-black">
        <h1 class="text-3xl font-bold mb-6">Aviso de Privacidad</h1>
        <p>Aquí irá el contenido legal de J&R Consultores...</p>
      </main>
    <Footer />
</Layout>
